<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="/login.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class='background'></div>
		<div class='container'>
			<div class='inner'>
					<div class="login-form">
						<span class="title-text">Sign In</span>
						<form action="<%= `/oauth2/v1/${query.clientId}/${query.userCode}/login` %>" method="POST" >
							<p class="field">
								<input
									type="text"
									name="email"
									placeholder="joe.doe@example.com"
									required
									value="<%= values.email ?? '' %>"
								/>
								<label for="email">Email</label>
								<span><%= errors.email ?? '' %></span>
							</p>
							<p class="field">
								<input name="password" type="password" placeholder="Password" required />
								<label for="password">Password</label>
								<span><%= errors.password ?? '' %></span>
							</p>
							<p>
								<input class="btn" type="submit" value="Next" />
							</p>
							<p class='bottom-grid'>
								<a href="">Reset password?</a>
								<a href="signup">No Account? Create one!</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
