* {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  font-family: 'Segoe UI Webfont', -apple-system, 'Helvetica Neue',
    'Lucida Grande', 'Roboto', 'Ebrima', 'Nirmala UI', 'Gadugi',
    'Segoe Xbox Symbol', 'Segoe UI Symbol', 'Meiryo UI', 'Khmer UI', 'Tunga',
    'Lao UI', 'Raavi', 'Iskoola Pota', 'Latha', 'Leelawadee',
    'Microsoft YaHei UI', 'Microsoft JhengHei UI', 'Malgun Gothic',
    'Estrangelo Edessa', 'Microsoft Himalaya', 'Microsoft New Tai Lue',
    'Microsoft PhagsPa', 'Microsoft Tai Le', 'Microsoft Yi Baiti',
    'Mongolian Baiti', 'MV Boli', 'Myanmar Text', 'Cambria Math';
  height: 100%;
  width: 100vw;
  color: #000;
  background-color: #fff;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(228, 228, 228); */
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.inner {
  margin: auto;
  position: relative;
  padding: 16px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.title-text {
  color: #1b1b1b;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', 'Roboto', 'Ebrima',
    'Nirmala UI', 'Gadugi', 'Segoe Xbox Symbol', 'Segoe UI Symbol', 'Meiryo UI',
    'Khmer UI', 'Tunga', 'Lao UI', 'Raavi', 'Iskoola Pota', 'Latha',
    'Leelawadee', 'Microsoft YaHei UI', 'Microsoft JhengHei UI', 'Malgun Gothic',
    'Estrangelo Edessa', 'Microsoft Himalaya', 'Microsoft New Tai Lue',
    'Microsoft PhagsPa', 'Microsoft Tai Le', 'Microsoft Yi Baiti',
    'Mongolian Baiti', 'MV Boli', 'Myanmar Text', 'Cambria Math';
}

.app-name {
  color: #33006e;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
}

.login-form {
  position: relative;
  width: 100%;
  color: #666666;
}

form {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.login-form p:last-child {
  margin: 0;
}

.login-form p a {
  color: #33006f;
  font-size: 14px;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}

.login-form label {
  display: block;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

.login-form label span {
  color: #33006f;
  padding-left: 2px;
}

.login-form input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.login-form input:focus {
  border-color: #33006f;
}

.login-form input.btn {
  color: #ffffff;
  background: #33006f;
  border-color: #33006f;
  outline: none;
  cursor: pointer;
}

.login-form input.btn:hover {
  color: #33006f;
  background: #ffffff;
}

.field {
  position: relative;
  margin-bottom: 16px;
}

.field > span {
  color: #f47174;
  padding-left: 8px;
  font-size: 80%;
  display: block;
}

input::placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
input + label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
  background: white;
  padding: 0px 5px;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  top: -0.8rem;
  font-size: 0.8rem;
  pointer-events: initial;
  background-color: white;
  color: #33006f;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 4px;
  text-align: center;
}

details {
  font-size: 1rem;
  width: 100%;
  background: #ffffff;
  position: relative;
  border-bottom: 1px solid #e2e8f0;
}
details .summary-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
details:hover {
  cursor: pointer;
}
details .summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}
details summary {
  list-style: none;
  padding: 1em 8px;
}
details summary:focus {
  outline: none;
}
details summary:hover .summary-chevron-up svg {
  opacity: 1;
}
details .summary-chevron-up svg {
  opacity: 0.5;
}
details .summary-chevron-up,
details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 0px;
  background: #ffffff;
}
details .summary-chevron-up svg,
details .summary-chevron-down svg {
  display: block;
}
details summary::-webkit-details-marker {
  display: none;
}

@media (min-width: 600px) {
  .container {
    height: 80vh;
    margin-top: 10vh;
  }
  .inner {
    margin: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 24px 48px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    min-width: 320px;
    overflow: hidden;
    max-height: 80vh;
    overflow-y: auto;
    height: auto;
  }

  .background {
    background: url(/background.svg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 16px;
  }
}
